body {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 66px;
}

a {
  color: var(--color-primary);
  transition: var(--transition-fast);
}

a:hover {
  color: var(--color-primary-hover);
}

img,
video,
picture,
canvas,
svg {
  max-width: 100%;
  height: auto;
}